body{
   background-color: cadetblue;
}
.building{
    width: 92%;
    position: absolute;
    height: 460px;
    left: 4%;
    top: 50px;
}
.elevator{
    position: absolute;
    //background: turquoise;
    width: 100px;
    // left: 400px;
    height: 100%;
}

.floors{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: stretch;
    flex-direction: column-reverse;
}
.floor{
    position:relative;
    height: 100%;
    text-align: right;

}
.floor-win{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    bottom:0;
    right:0;
    height:100%;
}
.after{
    display: block;
    position: absolute;
    left: 96%;
    height: 100%;
    background-color: white;
}
.timetoarrive{
    display: block;
    position: absolute;
    left: 50%;
    height: 100%;
    font-size: 12px;
}
.before{
    display: block;
    position: absolute;
    height: 100%;
    width: 52px;
    padding-top: 8px;
    background-color: white;
}
button{
    margin-left: 20%;
    width: 80px;
    border-radius: 10px;
}
img{
    width: 25px;
    height: 30px;
}
.BcolorRed{
    background-color: rgba(255, 0, 0, 0.8) !important;
}
.Bcolorgreen{
    background-color: #28a745 !important;
}